[Unit]
Description=Phosphor Multi GPIO monitor

[Service]
Restart=always
ExecStart=/usr/bin/phosphor-multi-gpio-monitor --config /usr/share/phosphor-gpio-monitor/phosphor-multi-gpio-monitor.json
SyslogIdentifier=phosphor-multi-gpio-monitor

[Install]
WantedBy=multi-user.target