[Unit]
Description=Set Power Good Property On

[Service]
Type=oneshot
ExecStart=/usr/bin/busctl set-property "org.openbmc.control.Power" "/org/openbmc/control/power0" "org.openbmc.control.Power" "pgood" i 1

