[Unit]
Description=Graceful Host Shut-down service
Requires=host-gpio.service
After=host-gpio.service

[Service]
RemainAfterExit=no
Type=oneshot
ExecStart=/usr/bin/env powersoft.sh
SyslogIdentifier=powersoft.sh
