[Unit]
Description=Phosphor %I watchdog


[Service]
Restart=always
EnvironmentFile={envfiledir}/obmc/watchdog/%I
ExecStart=/usr/bin/env phosphor-watchdog --continue --service=${{SERVICE}} --path=${{DEVPATH}} --action_target=${{PWR_OFF}} ${{PWR_CYCLE}} ${{PWR_RESET}}
SyslogIdentifier=phosphor-watchdog
