[Unit]
Description=assert Thermtrip0 

[Service]
Type=oneshot
ExecStart=/usr/bin/env prochot_thermtrip_update.sh assert CPU0_State thermtrip
SyslogIdentifier=thermtrip0_assert

