[Unit]
Description=Button handler Service
StopWhenUnneeded=false
After=interrupt-dbus-register.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/button-handler
SyslogIdentifier=button-handler

[Install]
WantedBy=multi-user.target
