[Unit]
Description=SV300G3-E BMC Restart from primary image
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/sv300g3e-bmc-restart-from-primary.sh
SyslogIdentifier=sv300g3e-bmc-restart-from-primary
