[Unit]
Description=SV300G3-E restart daemons after warm reset

[Service]
Type=oneshot
ExecStart=/usr/sbin/sv300g3e-restart-daemon.sh
SyslogIdentifier=sv300g3e-restart-daemon

[Install]
WantedBy=multi-user.target
