[Unit]
Description=SV300G3-E BMC Environment Initialization

[Service]
Type=oneshot
ExecStart=/usr/sbin/sv300g3e-bmcenv-init.sh
SyslogIdentifier=sv300g3e-bmcenv-init

[Install]
WantedBy=sysinit.target
