[Unit]
Description=Phosphor-Pid-Control Margin-based Fan Control Daemon

[Service]
Restart=always
ExecStart={bindir}/swampd -c /run/initramfs/ro/usr/share/entity-manager/configurations/fan-table.json
RestartSec=5
StartLimitInterval=0
Type=simple

[Install]
WantedBy=basic.target
