[Unit]
Description=Button handler Service
StopWhenUnneeded=false
After=interrupt-dbus-register.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/fast-prochot-logging
SyslogIdentifier=fast-prochot-logging

[Install]
WantedBy=multi-user.target
