[Unit]
Description=CPU Prochot Event Service
StopWhenUnneeded=false
After=interrupt-dbus-register.service
Wants=mapper-wait@-xyz-openbmc_project-Logging-IPMI.service
After=mapper-wait@-xyz-openbmc_project-Logging-IPMI.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/ssd-hotplug-event
SyslogIdentifier=ssd-hotplug-event

[Install]
WantedBy=multi-user.target
